{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":35},"action":"insert","lines":["RewriteEngine on","RewriteCond %{REQUEST_FILENAME} !-f","RewriteCond %{REQUEST_FILENAME} !-d","RewriteCond $1 !^(index\\.php|images|robots\\.txt)","RewriteRule ^(.*)$ index.php/$1 [L]"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":35},"end":{"row":4,"column":35},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1507200311497,"hash":"5488ae003bab3f4e652c58202e3ffaf1e7447292"}